.maincontainer{
    width: 100vw;
    height: 100vh;
    /* border :solid red;     */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.middlesec{
    width: 50vw;
    height: 75vh;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    /* border: solid pink; */
}
.leftcontainer{
    width: 60%;
    height: 100%;
    /* border: solid green; */
}
.logo{
    width: 30%;
    height: 5%;
    /* border: solid red; */
    margin-top: 48px;
    margin-left: 8px;
}
.createaccount{
    width: 70%;
    height: 10%;
    /* border: solid red; */
    display: flex;
    align-items: center;
    font-size: 22px;
    margin-top: -5px;
    margin-left: 35px;
}
.namebox{
    width: 90%;
    height: 10%;
    /* border: solid green; */
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-left: 25px;
}
.inputfirstname{
    width: 90%;
    height: 60%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}
.inputlastname{
    width: 90%;
    height: 60%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin-left: 25px;
}
.email{
    width: 103%;
    height: 7%;
    margin-left: -5px;
    /* border: solid blue; */
}
.inputemail{
    width: 83%;
    height: 100%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin-left: 5px;
}
.message{
    width: 83%;
    height: 5%;
    /* border: solid blue; */
    font-size: 12px;
    margin-left: -50px;
    margin-top: 7px;
    color : rgb(116, 115, 115);
}
.middlemessge{
    width: 65%;
    height: 5%;
    font-size: 14px;
    font-weight: bold;
    color:#4285F4;
    /* border: solid red; */
    margin-left: 20px;
}
.passwordbox{
    width: 100%;
    height: 10%;
    /* border: solid green; */
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 25px;
}
.password{
    width: 90%;
    height: 60%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}
.confirm{
    width: 90%;
    height: 60%;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    margin-left: 25px;
}
.bottommessage{
    width: 70%;
    height: 5%;
    /* border: solid yellow; */
    font-size: 12px;
    margin-left: 40px;
    margin-top: -15px;
    text-align: start;
    color : rgb(116, 115, 115);
}
.checkbox{
    width: 70%;
    height: 5%;
    /* border: solid yellow; */
    margin-left: -65px;
    margin-top: 10px;
}
.SignInAccount{
    width: 350px;
    height: 5%;
    /* border: solid black; */
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-left: 35px;
    text-align: start;
}
.SignInAccountLink{
    width: 50%;
    height: 100%;
    /* border: solid green; */
    font-size: 14px;
    font-weight: bold;
    color:#4285F4;    
    margin-top: 5px;
}
.LoginButton{
    width: 60%;
    height: 130%;
    border: solid #4285F4;
    border-radius: 5px;
    background-color: #4285F4;
    font-size: 15px;
    font-weight: bold;
    color:white;
    margin-top: -5px;
    margin-left: 118px;
}
.rightcontainer{
    width: 40%;
    height: 100%;
    /* border: solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.imagebox{
    width: 80%;
    /* border: solid blue; */
    margin-left: 10px; 
}
.msg{
    width: 85%;
    height: 10%;
    /* border: solid red; */
    color: gray;
    text-align: center;
}
.footer{
    width: 68.5vw;
    height: 10vh;
    /* border: solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
}
.language{
    width: 13%;
    height: 70%;
    border:solid white;
    background-color: transparent;
}
.footercontent{
    width: 60%;
    height: 70%;
    /* border:solid green; */
    font-size: 14px;
    color: gray;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}